<?xml version="1.0"?>
<robot name="ball2 skeleton">
    <link name="world" />
    
    <link name="ball2_link">
        <inertial>
            <mass value="0.1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <sphere radius="0.5" />
            </geometry>
			<material 
			name="">
			<color
			  rgba="0 1 0 0.8" />
		  </material>
        </visual>
        <collision group="default">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <sphere radius="0.5" />
            </geometry>
        </collision>
    </link>
    
    <joint name="ball2_joint" type="fixed">
        <origin xyz="50.5 6 5" rpy="0 0 0" />
        <parent link="world" />
        <child link="ball2_link" />
    </joint>
</robot>

